@import "tailwindcss";

@layer components {
    .glass {
        @apply bg-white/5 backdrop-blur-lg border border-white/10;
        word-break: break-word;
        overflow-wrap: break-word;
    }
}